# Specify the interpreter to use for this script (bash)
#!/bin/bash

# Create an array of files and directories to remove
declare -a files_to_remove=(
  # Individual entries for each file or directory
  # (each entry should be a relative or absolute path)
  ".iml"
  ".gradle"
  ".idea/caches"
  ".idea/libraries"
  ".idea/modules.xml"
  ".idea/workspace.xml"
  ".idea/navEditor.xml"
  ".idea/assetWizardSettings.xml"
  ".DS_Store"
  "build"
  "captures"
  ".externalNativeBuild"
  ".cxx"
  "local.properties"
)

# Loop through the array of files and directories
for file in "${files_to_remove[@]}"; do
  # Remove each file or directory using the 'rm' command
  # with the '-rf' flag to force removal and follow symbolic links
  rm -rf -- "$file"
done
